*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    height:100%;
}
.menubtn{
    color:black;
    font-size: 23px;
    cursor: pointer;
    display:none;

}
.navbar{
    
    margin: auto;
    padding: 25px 5px ;
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: aliceblue;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}
.navbar .logo{
    background:bisque;
}
.navbar .logo h1{
    color: black;
    border-bottom: 4px solid #fd6561;

}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    display:block;
    margin-left: 20px;
    color: grey;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
.navbar .menu li .active{
    border-bottom: 4px solid crimson;
}
.navbar .menu li a i{
    color:crimson;
}
.navbar .menu .li a:hover{
    border-bottom: 4px solid crimson;
}
.content{
    background-image: url('product.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding:0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items:center ;
     color: black;
     height: 100vh;
}
.content h1{
    font-size: 40px;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border:none;
    background: #fd6561;
    color: aliceblue;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;

}
.pheading{
    text-align: center;
    margin:50px 0;
    color: black;
}
.sec{
    padding:10px 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.products .card{
    width:310px;
    background: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.products .card img{
    height:250px;
    width:100%;
}
.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color:rgb(42, 39, 39);
    padding: 0 20px;
}
.products .card .box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.products .card .box .price{
    color:rgb(249, 8, 8);
    font-size: 20px;
    font-weight: bold;
}
.products .card .box .btn{
    font-size:13px;
    color:rgb(11, 164, 235);
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid rgb(239, 42, 8);
    border-radius: 20px;
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: rgb(216, 244, 58);
    color: aqua;
}
footer{
    text-align: center;
    background-color: antiquewhite;
    height: 10vh;
    font-family: 'poppins',sans-serif;
    

}

footer p a{
    text-decoration: none;
    color: rgb(239, 73, 7);
    font-weight: bold;
}

